<% if @lists.empty? && @users.empty? %>
  <h1>There are no search results.</h1>
<% else %>
  <h1><%= pluralize(@lists.count + @users.count, 'result' ) + " for '#{session['q']}'" %></h1>

  <h2><%= object_type?(@lists.first).pluralize %></h2>
  <%= render 'shared/collections', collection: @lists %>

  <h2><%= object_type?(@users.first).pluralize %></h2>
  <%= render 'shared/collections', collection: @users %>
<% end %>
