<h1><%= pluralize(@lists.count + @users.count, 'result') %></h1>
<% if @lists.empty? && @users.empty? %>
  <h2>No search results for '<%= session['q'] %>' found.</h2>
<% else %>
  <h2><%= object_type?(@lists.first).pluralize %></h2>
  <%= render 'shared/collections', collection: @lists %>

  <h2><%= object_type?(@users.first).pluralize %></h2>
  <%= render 'shared/collections', collection: @users %>
<% end %>
