<div class="container">
	<div class="row main">
		<div class="main-login main-center">
      <%= form_for @list do |f| %>
        <%= render 'shared/errors', collection: form_error_messages!(@list) %>

        <%= f.hidden_field :user_id, value: @user.id %>
        <div class="form-group">
          <%= f.label :title, class: "cols-sm-2 control-label" %>
          <div class="cols-sm-10">
            <div class="input-group">
							<span class="input-group-addon"><i class="fa fa-list fa" aria-hidden="true"></i></span>
              <%= f.text_field :title, class: "form-control", placeholder: "Enter a Title" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :due_date, class: "cols-sm-2 control-label" %>
          <div class="cols-sm-10">
            <div class='input-group date' id='js-list-date-picker'>
              <%= f.hidden_field :due_date, id: "js-list-due-date", value: format_date_to_ISO(@list.due_date) %>
              <span class="input-group-addon"><i class="fa fa-calendar fa" aria-hidden="true"></i></span>
              <input type='text' class="form-control" id="js-date-time-view" placeholder="Click icon to pick a date and time" />
            </div>
            <p class="form-explanation">Format: mm/dd/yyyy hh:mm AM or PM</p>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :public, class: "cols-sm-2 control-label" %>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-product-hunt fa" aria-hidden="true"></i></span>
              <%= f.check_box :public, { "data-onstyle": "success", "data-offstyle": "warning", "data-toggle": "toggle", "data-on": "Yes", "data-off": "No"} %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.submit class: "btn btn-primary btn-lg btn-block btn-center" %>
        </div>
			<% end %>
		</div>
	</div>
</div>
<%= javascript_pack_tag 'lists' %>
