<%= form_for @list do |f| %>
  <%= render 'shared/errors', collection: flash[:error] %>

  <%= f.hidden_field :user_id, value: @user.id %>
  <div class="form-group row">
    <%= f.label :title, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-7">
      <%= f.text_field :title, class: "form-control" %><br />
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :due_date, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-7">
      <div class='input-group date' id='js-list-date-picker'>
        <%= f.hidden_field :due_date, id: "js-list-due-date", value: format_date_to_ISO(@list.due_date) %>
        <input type='text' class="form-control" id="js-date-time-view" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
      <p class="form-explanation">Format: mm/dd/yyyy hh:mm AM or PM</p>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :public, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-7">
      <%= f.check_box :public, { "data-onstyle": "success", "data-offstyle": "warning", "data-toggle": "toggle", "data-on": "Yes", "data-off": "No" } %><br />
    </div>
  </div>
  <div class="form-group row">
    <%= f.submit class: "btn btn-lg btn-primary btn-center" %>
  </div>
<% end %>
