<%= javascript_pack_tag 'items' %>
<h1><%= @list.title.titleize %></h1>
<h4>Created by - <%= its_me?(@list.user) %></h4>
<% if @list.items.count > 0 %>
  <h4><%= @list.percent_complete %>% completed</h4>
<% end %>
<% if not_joined?(@list) %>
  <%= link_to "Join", user_list_join_path(current_user, @list), method: :post, class: 'btn btn-primary join-btn pull-right' %>
<% elsif @list.user != current_user %>
  <%= link_to "Leave", user_list_leave_path(current_user, @list), method: :delete, class: 'btn btn-primary join-btn pull-right' %>
<% end %>
<div class="container">
  <% if policy(@list).edit? %>
    <div class="btn-group pull-right">
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to "Edit", edit_user_list_path(@user, @list), id: "edit-list-#{@list.id}" %></li>
        <li><%= link_to "Delete", list_path(@list), method: "delete", id: "delete-list-#{@list.id}", data: { confirm: "Are you sure?" } %></li>
      </ul>
    </div>
  <% end %>
  <% if @list.percent_complete < 100 %>
    <%= time_left_until_due(@list.due_date) %>
  <% end %>
  <br>
  <br>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Collaborators
      <span class="caret"></span>
    </button>
    <div class="dropdown-menu collaborator-menu" aria-labelledby="dropdownMenu1">
      <% @list.collaborators.each do |user| %>
        <div class="collaborator-list">
          <%= link_to its_me?(user), user_path(user) %>
          <% if current_user.has_no_friendship?(user) %>
            <%= link_to "Add Friend", user_friend_add_path(current_user, user), class: "btn btn-primary btn-xs friend-btn pull-right", id: "friend-btn-#{user.id}", method: :post %>
          <% elsif user != current_user %>
            <%= link_to "Unfriend", user_friend_remove_path(current_user, user), class: "btn btn-primary btn-xs friend-btn pull-right", id: "unfriend-btn-#{user.id}", method: :delete %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <% if policy(@list).new? %>
    <%= link_to raw("&#43;"), new_list_item_path(@list), role: "button", class: "add-btn btn" %>
    <div class="list-group">
      <% @items.each do |item| %>
        <div class="well">
          <div class="row list-items">
            <div class="col-xs-12 col-md-7">
              <h3><%= link_to item.title, list_item_path(@list, item) %></h3>
            </div>
              <% if policy(item).edit? %>
                <div class="btn-group pull-right">
                  <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Edit", edit_list_item_path(@list, item), id: "edit-item-#{item.id}" %></li>
                    <li><%= link_to "Delete", list_item_path(@list, item), method: "delete", id: "delete-item-#{item.id}", data: { confirm: "Are you sure?" } %></li>
                  </ul>
                </div>
              <% end %>
            <div class="col-xs-6 col-md-2">
              <%= form_for [@list, item], method: :put, url: [@list,item, :complete] do |f| %>
                <%= f.hidden_field :id, value: item.id %>
                <%= f.hidden_field :list_id, value: @list.id %>
                <%= f.hidden_field :date_completed, value: format_date_to_ISO(item.date_completed), class: "js-item-date-completed" %>
                <%= f.check_box :completed, { "data-onstyle": "success", "data-offstyle": "warning", "data-toggle": "toggle", "data-on": "Completed", "data-off": "Incomplete", class: "js-item-completed" } %>
              <% end %>
              <p class="js-item-human-date"></p>
            </div>
          </div>
          <% if item.completed_by %>
            <small>Completed by: <%= its_me?(item.completed_by) %></small>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
