<h1><%= @list.title %></h1>
<div class="container">
  <%= link_to "Edit", edit_list_path(@list), id: "edit-list-#{@list.id}", class: "btn btn-primary" %>
  <%= link_to "Delete", list_path(@list), method: "delete", id: "delete-list-#{@list.id}", class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
  <% if @list.present? %>
    <%= time_left_until_due(@list.due_date) %>
  <% end %>
  <a class="add-btn btn btn-primary" href="<%= new_list_item_path(@list) %>" role="button">&#43;</a>
  <div class="list-group">
    <% @list.items.each do |item| %>
      <div class="well">
        <h3 class="element-inline"><%= link_to item.title, list_item_path(@list, item) %></h3>
        <%= link_to "Edit", edit_list_item_path(@list, item), id: "edit-item-#{item.id}", class: "btn btn-default element-inline" %>
        <%= link_to "Delete", list_item_path(@list, item), method: "delete", id: "delete-item-#{item.id}", class: "btn btn-danger element-inline", data: { confirm: "Are you sure?" } %>
        <p class="">future description if provided</p>
        <small>footnote</small>
      </div>
    <% end %>
  </div>
</div>
