<h1>Forgot your password?</h1>

<div class="container">
	<div class="row main">
		<div class="main-login main-center">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render 'shared/errors', collection: devise_error_messages! %>

				<div class="form-group">
					<%= f.label :email, class: "cols-sm-2 control-label" %>
					<div class="cols-sm-10">
					  <div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></span>
							<%= f.email_field :email, autocomplete: "off", class: "form-control", placeholder: "Enter your Email" %>
						</div>
					</div>
				</div>
				<%= render "devise/shared/links" %>
				<div class="form-group">
					<%= f.submit "Send me password reset instructions", class: "btn btn-primary btn-lg btn-block btn-center" %>
				</div>

			<% end %>
		</div>
	</div>
</div>
