<% if collection.present? %>
    <ul class="media-list">
      <% collection.each do |obj| %>
        <li class="media search-results">
          <% if object_type?(obj) == "User" %>
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="<%= obj.profile_picture %>" alt="profile picture">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%=link_to obj.name, user_path(obj) %></h4>
              <%=obj.email %>
              <% if current_user.has_no_friendship?(obj) %>
                <%= link_to "Add Friend", user_friends_path(current_user), class: "btn btn-primary btn-sm friend-btn pull-right", method: :post %>
              <% elsif obj != current_user %>
                <%= link_to "Unfriend", user_friends_path(current_user), class: "btn btn-primary btn-sm friend-btn pull-right", method: :delete %>
              <% end %>
            </div>
          <% elsif object_type?(obj) == "List" %>
            <div class="media-body">
              <h4 class="media-heading"><%=link_to obj.title.humanize, list_path(obj) %></h4>
              <%= obj.due_date %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
<% end %>
