<% if collection.present? %>
    <ul class="media-list">
      <% collection.each do |obj| %>
        <li class="media search-results">
          <% if object_type?(obj) == "User" %>
            <div class="media-left">
              <a href="<%= user_path(obj) %>">
                <%= image_tag(obj.profile_picture, class: "media-object search-profile-picture", alt: "Profile Picture") %>
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%=link_to obj.name, user_path(obj) %></h4>
              <%=obj.email %>
              <% if current_user.has_no_friendship?(obj) %>
                <%= link_to "Add Friend", user_friend_add_path(current_user, obj), class: "btn btn-primary btn-sm friend-btn pull-right", id: "friend-btn-#{obj.id}", method: :post %>
              <% elsif obj != current_user %>
                <%= link_to "Unfriend", user_friend_remove_path(current_user, obj), class: "btn btn-primary btn-sm friend-btn pull-right", id: "unfriend-btn-#{obj.id}", method: :delete %>
              <% end %>
            </div>
          <% elsif object_type?(obj) == "List" %>
            <div class="media-body">
              <h4 class="media-heading"><%=link_to obj.title.titleize, list_path(obj) %></h4>
              <% if obj.percent_complete < 100 %>
                <%= time_left_until_due(obj.due_date) %>
              <% end %>
              <% if not_joined?(obj) %>
                <%= link_to "Join", user_list_join_path(current_user, obj), method: :post, class: 'btn btn-primary btn-sm join-btn pull-right' %>
              <% elsif obj.user != current_user %>
                <%= link_to "Leave", user_list_leave_path(current_user, obj), method: :delete, class: 'btn btn-primary btn-sm join-btn pull-right' %>
              <% end %>
              <% if obj.percent_complete.present? %>
                <h4><%= obj.percent_complete %>% completed</h4>
              <% end %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
<% end %>
