<h2><%= object_type?(collection.first).pluralize %></h2>
<% if collection.present? %>
  <p><%= pluralize(collection.count, 'result') %></p>
    <ul class="media-list">
      <% collection.each do |obj| %>
        <li class="media search-results">
          <% if object_type?(obj) == "User" %>
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="<%= obj.profile_picture %>" alt="profile picture">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%=link_to obj.name, user_path(obj) %></h4>
              <%=obj.email %>
            </div>
          <% elsif object_type?(obj) == "List" %>
            <div class="media-body">
              <h4 class="media-heading"><%=link_to obj.title.humanize, list_path(obj) %></h4>
              <%= obj.due_date %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
<% end %>
