<h1>Hey, %recipient.name%,</h1>
<p>
  Just wanted to let you know that item <%= link_to @item.title.titleize, list_item_url(@item.list, @item) %>
  <%= @status %>.<br>
  List: <%= @item.list.title.titleize %><br>
  Completed: <%= @item.date_completed.present?.to_s.capitalize %><br>
  <% if @item.date_completed.present? %>
    Date: <%= @item.date_completed %>
  <% end %>
</p>
