<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">LystSync</a>
      <div id="global-search-div">
        <%= form_with url: search_path, local: true, method: :get, html: { id: "js-global-search-form" } do |f| %>
         <div class="input-group">
           <%= f.text_field :q, placeholder: "Search", id: "js-global-search-input", value: "#{session['q']}", class: "form-control" %>
           <span class="input-group-btn">
             <%= f.button raw('<i class="fa fa-search" aria-hidden="true"></i>'), name: nil, id: "js-global-search-btn", class: "btn btn-default" %>
           </span>
         </div>
       <% end %>
      </div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= link_active?(lists_path) %>"><a href="<%= lists_path %>">Lists</a></li>
        <li class="<%= link_active?(users_path) %>"><a href="<%= users_path %>">Find Friends</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="dropdown float-left">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="<%= link_active?(new_user_list_path(current_user)) %>"><%= link_to "Create List", new_user_list_path(current_user) %></li>
              <li role="separator" class="divider"></li>
              <li class="<%= link_active?(user_lists_path(current_user)) %>"><%= link_to "Lists I Created", user_lists_path(current_user) %></li>
              <li class="<%= link_active?(user_collaborations_path(current_user)) %>"><%= link_to "My List Collaborations", user_collaborations_path(current_user) %></li>
              <li class="<%= link_active?(user_friends_path(current_user)) %>"><a href="<%= user_friends_path(current_user) %>">My Friends</a></li>
              <li role="separator" class="divider"></li>
              <li class="<%= link_active?(edit_user_registration_path) %>"><%= link_to "Edit Account", edit_user_registration_path %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="<%= link_active?(new_user_session_path) %>"><%= link_to "Sign In", new_user_session_path %></li>
          <li class="<%= link_active?(new_user_registration_path) %>"><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
