<!DOCTYPE html>
<html>
  <head>
    <title>LystSync</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inika:700|Permanent+Marker">
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="yield-container">
      <% unless flash.empty? %>
        <script type="text/javascript">
          <% flash.each do |f| %>
      	    <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
            toastr.options.positionClass = 'toast-top-left';
            toastr.options.timeOut = '3000';
            toastr['<%= type %>']('<%= f[1] %>');
    	   <% end %>
        </script>
      <% end %>
      <%= yield %>
    </div>
  </body>
  <%= render 'layouts/footer' %>
</html>
